.container_16
  = render "hub/sidebar"
  #partial.grid_11.prefix_1
    %header#event_full_name
      = @event.name 
    .grid_5.suffix_1.alpha
      %section.overview-section
        %header.overview-header
          Event
        %div
          %span.label Date:
          = "#{@event.start_time.to_date} - #{@event.end_time.to_date}"
          %hr
          %span.label Time:
          = "#{@event.start_time.strftime("%H:%M:%S")} - #{@event.end_time.strftime("%H:%M:%S")}"
          %hr
          %span.label Host:
          = @event.host
          %hr
          %span.label Address:
          %br
          = @event.venue.location
          %br
          = @event.venue.street
          %br
          - if @event.venue.street2
            = @event.venue.street2
            %br
          = "#{@event.venue.city}, #{@event.venue.state} #{@event.venue.zip}"
          %hr
          %span.label Description:
          = @event.desc
          %hr
      %section.overview-section
        %header.overview-header
          Messages
        %div
          %span.label Scheduled Message Blasts:
          - @event.groups.inject([]) { |memo, g| memo.concat g.text_blasts }.compact.select { |tb| !tb.done }.each do |tb|
            %hr
              = "Text Blast  |  #{tb.group.name}  |  #{tb.schedule.to_formatted_s(:lock)}"
            %hr
            %span.muted= tb.contents
            %hr
          - @event.groups.inject([]) { |memo, g| memo.concat g.email_blasts }.compact.select { |eb| !eb.done }.each do |eb|
            %hr
              = "Email Blast  |  #{eb.group.name}  |  #{eb.schedule.to_formatted_s(:lock)}"
            %hr
            %span.muted= eb.contents
            %hr
      %section.overview-section
        %header.overview-header
          Flyer
        %div
        Share this link with your audience
        %br
        %span.label URL:
        = link_to "#{request.env['HTTP_HOST']}/events/#{@event.id}/flyer", "http://#{request.env['HTTP_HOST']}/events/#{@event.id}/flyer"
        %hr
    .grid_5.omega
      %section.overview-section
        %header.overview-header
          Audience
        %div
          .grid_1.alpha.audience-num
            %a.num-block{:href => "#"}
              = @event.recipients.count
            Invited
          .grid_1.audience-num
            %a.num-block{:href => "#"}
              = @event.recipients.where("RSVP = ?", "yes").count
            %i.icon-ok
          .grid_1.omega.audience-num.suffix_2
            %a.num-block{:href => "#"}
              = @event.recipients.where("RSVP = ?", "no").count
            %i.icon-remove
        %hr
          %div
            #social_groups_label.label.grid_1.alpha
              Groups:
            .grid_4.omega
              %ul
                - @event.groups.each do |g|
                  %li.group-members
                    %a.group-members-link{:href => "#"}
                      = g.name
            %hr
      %section.overview-section
        %header.overview-header
          Social
        %div
