.container_16
  = render "hub/sidebar"
  #partial.grid_11.prefix_1
    %header#event_full_name
      = @event.name 
    .grid_5.suffix_1.alpha
      %section.overview-section
        %header.overview-header
          Event
        %div
          %span.label Date:
          = "#{@event.start_time.to_date} - #{@event.end_time.to_date}"
          %hr
          %span.label Time:
          = "#{@event.start_time.strftime("%H:%M:%S")} - #{@event.end_time.strftime("%H:%M:%S")}"
          %hr
          %span.label Host:
          = @event.host
          %hr
          %span.label Address:
          %br
          = @event.venue.location
          %br
          = @event.venue.street
          %br
          - if @event.venue.street2
            = @event.venue.street2
            %br
          = "#{@event.venue.city}, #{@event.venue.state} #{@event.venue.zip}"
          %hr
          %span.label Description:
          = @event.desc
          %hr
      %section.overview-section
        %header.overview-header
          Messages
        %div
          %span.label Scheduled Message Blasts:
          %hr
            Type  |  Group  |  MM/DD/YYYY, HH:MM
            %hr
              %span.muted This is a preview of a blast. This is a preview of a blast. This is a preview of a blast. This is a preview of a blast.
              %hr
                Type  |  Group  |  MM/DD/YYYY, HH:MM
                %hr
                  %span.muted This is a preview of a blast. This is a preview of a blast. This is a preview of a blast. This is a preview of a blast.
                  %hr
      %section.overview-section
        %header.overview-header
          Flyer
        %div
          %span.label Required Fields:
          Phone
          %hr
            %span.label Optional Fields:
            Email
            %hr
              %span.label.muted Excluded Fields:
              %span.muted RSVP
        %section.overview-section
    .grid_5.omega
      %section.overview-section
        %header.overview-header
          Audience
        %div
          .grid_1.alpha.audience-num
            %a.num-block{:href => "#"}
              = @event.recipients.count
            Invited
          .grid_1.audience-num
            %a.num-block{:href => "#"}
              = @event.recipients.where("RSVP = ?", "yes").count
            %i.icon-ok
          .grid_1.omega.audience-num.suffix_2
            %a.num-block{:href => "#"}
              = @event.recipients.where("RSVP = ?", "no").count
            %i.icon-remove
        %hr
          %div
            #social_groups_label.label.grid_1.alpha
              Groups:
            .grid_4.omega
              %ul
                - @event.groups.each do |g|
                  %li.group-members
                    %a.group-members-link{:href => "#"}
                      = g.name
            %hr
      %section.overview-section
        %header.overview-header
          Social
        %div
          Nam sed mi velit. Cras venenatis purus in sem rutrum sagittis. Maecenas a magna nisl, vel tempus diam. Phasellus sed mauris ipsum. Suspendisse vestibulum libero vitae diam convallis malesuada. Integer sem diam, condimentum eu varius non, dictum nec urna. Mauris risus urna, suscipit a feugiat eget, tincidunt vel metus. Phasellus varius, velit ac tristique adipiscing, orci justo bibendum dolor, dictum malesuada justo velit et dui. Quisque vel augue suscipit velit laoreet elementum vitae in quam. Proin porta malesuada interdum. Duis viverra mi elit, vel tempor mi. Aliquam id leo vel tellus elementum ultrices ac eget turpis. Praesent malesuada vestibulum ornare. Proin blandit, neque ultricies blandit varius, urna erat dapibus est, rho...
