<p id="notice"><%= notice %></p>

<p>
  <b>Done:</b>
  <%= @text_blast.done %>
</p>

<p>
  <b>Contents:</b>
  <%= @text_blast.contents %>
</p>

<p>
  <b>Schedule:</b>
  <%= @text_blast.schedule %>
</p>


<%= link_to 'Edit', edit_text_blast_path(@text_blast) %> |
<%= link_to 'Back', text_blasts_path %>
