#sidebar.grid_4
  %header#event_hub_nav_header
    Event Hub
  %nav
    %ul
      - %w{ overview event audience messages social flyer }.each do |p|
        %li.hub-nav
          %a{ :href => p == "flyer" ? "#{event_path(params[:event_id])}/flyer" : "#{event_path(params[:event_id])}/dashboard/#{p}",
              :class => "hub-nav-link #{request[:action] == p ? "active" : nil}" }
            = p
= yield
