!!!
%html
  %head
    %title Eventshare
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
  %body
    = render "core/nav"
    - if flash
      .container_16
        .grid_6.prefix_5
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}", :class => "label" if msg.is_a?(String)
    = yield
    = render "core/footer"
